@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500&family=Montserrat:wght@300;400;500&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #181719;
  overflow-x: hidden !important;
}
html {
  overflow-x: hidden !important;
}

/* .container {
  height: 100vh;
} */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 46px 77px;
  width: 100%;
}
nav .logo h4 {
  font-size: 14px;
  font-weight: 200;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
  padding: 8px;
  border: 1px solid #fff;
  font-family: 'Crimson Pro', serif;
}
nav ul li {
  display: inline;
  margin-left: 86px;
}
nav ul li a {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-transform: capitalize;
  text-decoration: none;
}
nav ul li .active {
  margin-top: 8px;
  border-bottom: 2px solid #fff;
}

nav .mobile_icon {
  display: none;
  background: transparent;
  cursor: pointer;
}

nav .mobile_nav_icon {
  height: 28px;
  width: 20px;
  color: #fff;
}
nav .mobile_nav_icon .cross {
  display: none;
}

section {
  margin-top: 105px;
  padding: 0px 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 600px; */
  /* height: 70vh; */
}

section .left_section h2 {
  font-family: 'Lora', serif;
  font-size: 48px;
  font-weight: 500;
  color: #fff;
  line-height: 61px;
}

section .left_section p {
  margin-top: 48px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #fff;
}
section .left_section button {
  margin-top: 48px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
section .left_section button a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
section .left_section button .fa-solid {
  margin-left: 14px;
  line-height: inherit;
  align-items: center;
}
section .right_section {
  position: relative;
}
section .right_section .image {
  width: 800px;
  height: 500px;
}
section .right_section .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section .right_section .right_sub_section {
  position: absolute;
  right: 35px;
  bottom: -113px;
  width: 410px;
  height: 190px;
  background: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 14px;
}

section .right_sub_section .profile {
  display: flex;
  margin-left: 16px;
}
section .right_sub_section .profile .profile_img {
  flex: 0.2;
  width: 85px;
  height: 72px;
}
section .right_sub_section .profile .profile_img img {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
}
section .right_sub_section .profile .profile_author p {
  margin-left: 4px;
  margin-top: 7px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  line-height: 17px;
}
section .right_sub_section .profile .profile_author span {
  margin-top: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #828282;
  margin-left: 4px;
}

section .right_sub_section .profile_desc p {
  margin-top: 11px;
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #fff;
  margin-left: 20px;
}

footer {
  margin-top: 200px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

footer p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #a9a9a9;
}
footer p a {
  color: inherit;
  text-decoration: none;
}
footer p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  nav {
    padding: 46px 60px;
  }
  nav ul li {
    margin-left: 40px;
  }
  section {
    padding: 0px 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  section .right_section .image {
    width: 900px;
    height: 700px;
  }
  section .left_section button {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 46px 40px;
  }
  nav ul li {
    margin-left: 20px;
  }
  section {
    padding: 0px 40px;
  }

  section .right_section .image {
    width: 670px;
    height: 300px;
    object-fit: contain;
  }
}

@media screen and (max-width: 425px) {
  nav .mobile_icon {
    display: block;
    z-index: 999;
    align-items: center;
  }
  nav .mobile_icon .menu {
    margin-top: 17px;
  }
  .nav_list {
    position: absolute;
    top: 0;
    left: 0;
    background: #181719;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.4s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .bar .nav_list {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .bar .mobile_icon .mobile_nav_icon .cross {
    display: block;
  }

  .bar .mobile_icon .mobile_nav_icon .menu {
    display: none;
  }
  nav ul li {
    margin: 32px;
  }
  nav {
    padding: 19px 12px;
  }
  section {
    padding: 0px 12px;
    margin-top: 38px;
  }

  section .left_section h2 {
    font-size: 36px;
    line-height: 46px;
  }
  section .left_section p {
    margin-top: 25px;
    font-size: 14px;
    line-height: 17px;
  }
  section .left_section button {
    margin-top: 25px;
    font-size: 14px;
    line-height: 17px;
  }

  section .right_section .image {
    width: 390px;
    height: 300px;
  }
  section .right_section .right_sub_section {
    width: 300px;
    height: 138px;
  }
  section .right_sub_section .profile .profile_author p {
    font-size: 12px;
    line-height: 15px;
  }
  section .right_sub_section .profile .profile_author span {
    font-size: 10px;
    line-height: 12px;
  }
  section .right_sub_section .profile_desc p {
    margin-top: 8px;
    font-size: 18px;
    line-height: 23px;
  }
}

@media screen and (max-width: 360px) {
  nav .mobile_icon {
    display: block;
    z-index: 999;
    align-items: center;
  }
  nav .mobile_icon .menu {
    margin-top: 17px;
  }
  .nav_list {
    position: absolute;
    top: 0;
    left: 0;
    background: #181719;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.4s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .bar .nav_list {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .bar .mobile_icon .mobile_nav_icon .cross {
    display: block;
  }

  .bar .mobile_icon .mobile_nav_icon .menu {
    display: none;
  }
  nav ul li {
    margin: 32px;
  }
  nav {
    padding: 19px 12px;
  }
  section {
    padding: 0px 12px;
    margin-top: 38px;
  }

  section .left_section h2 {
    font-size: 36px;
    line-height: 46px;
  }
  section .left_section p {
    margin-top: 25px;
    font-size: 14px;
    line-height: 17px;
  }
  section .left_section button {
    margin-top: 25px;
    font-size: 14px;
    line-height: 17px;
  }

  section .right_section .image {
    width: 330px;
    height: 200px;
  }
  section .right_section .right_sub_section {
    width: 250px;
    height: 138px;
  }
  section .right_sub_section .profile .profile_author p {
    font-size: 12px;
    line-height: 15px;
  }
  section .right_sub_section .profile .profile_author span {
    font-size: 10px;
    line-height: 12px;
  }
  section .right_sub_section .profile_desc p {
    margin-top: 8px;
    font-size: 18px;
    line-height: 23px;
  }
}
